* {
    padding: 0;
    margin: o;
}

.logo {
    width: 80px;   
}

body {
    background-image: url(/);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
nav_heading {
    color: aquamarine;

}