* {
    padding: 0;
    margin: o;
}

.logo {
    width: 50px;   
}

body {
    background-image: url(/resources/images/Marvel\ Wallpaper\ 4K\ For\ Pc\ Download\ Gallery.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: ;
}