* {
    padding: 0;
    margin: o;
    box-sizing: border-box;
}

.logo {
    width: 50px;   
}

body {
    background-image: url(/resources/images/Marvel\ Wallpaper\ 4K\ For\ Pc\ Download\ Gallery.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 20vh;
}

.heading {
    display: flex;
    align-items: center
    gap: 10px;
}